
.horizontal-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background-color: white;
    transform: translateX(100%);
    transition: all 1.5s cubic-bezier(0.36, 0.6, 0.49, 1.04);
}

.horizontal-loaded {
    transform: translateX(0%);
    background-color: black;
}

.vertical-line {
    position: absolute;
    left: -35%;
    width: 100%;
    height: 25rem;
    background-color: white;
    transform: rotate(-45deg) translateX(-100%);
    transition: transform 1.5s cubic-bezier(0.36, 0.6, 0.49, 1.04);
    transition-delay: .5s;
}

.vertical-loaded {
    transform: rotate(-45deg) translateX(0%);
    background-color: black;
}

/* RESPONSIVENESS */

@media screen and (max-height: 1000px) {
    .vertical-line,
    .horizontal-line {
        visibility: hidden;
    }
}

@media screen and (max-width: 1680px) {
    .vertical-line {
        visibility: hidden;
    }
}

@media screen and (max-width: 2550px) {
    .vertical-line {
        left: -50%;
        height: 15rem;
    }
}

@media screen and (min-width: 2561px) {
    .vertical-line {
        visibility: hidden;
    }
}

