.App {
    max-width: 2560px;
}

#Content > div {
    margin: 0rem 30rem 15rem 30rem;
}

/* RESPONSIVENESS */

@media screen and (max-width: 2500px) {
    #Content > div {
        margin: 0rem 30rem 15rem 30rem;
    }
}

@media screen and (max-width: 2258px) {
    #Content > div {
        margin: 0rem 20rem 15rem 20rem;
    }
}

@media screen and (max-width: 1600px) {
    #Content > div {
        margin: 0rem 7rem 15rem 5rem;
    }
}


@media screen and (max-width: 1100px) {
    #Content > div {
        margin: 0rem 3rem 15rem 3rem;
    }
}


